<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body class="hidden">
  
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    <p><%= type %> Not Found [404]</p>
  </div>

  <%- include("./partials/footer.ejs") %>

  <script src="/visible.js"></script>

</body>
</html>