<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Me</h2>
    <h3>History & Early days</h3>
    <p>Tring my hand in web-development. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dolorem error numquam, aliquid sequi eaque ut, tempora, consequatur voluptates ullam aliquam perferendis ducimus adipisci expedita ipsa incidunt vero quos cupiditate.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati in non unde possimus dolores voluptates velit, praesentium earum, voluptatum veniam, sit dignissimos aut corrupti reprehenderit molestiae voluptatibus vero! Eveniet, rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea unde quas expedita non ullam repellat, labore esse corporis omnis veniam laboriosam quis porro voluptatibus doloribus? Assumenda sequi id cumque ex.</p>
    <h3>Career</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quibusdam mollitia rem aliquid, atque repellendus harum officia tenetur ullam voluptates modi repellat in eveniet. Aliquid praesentium quas possimus eum accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis saepe repellat quo dicta sit delectus vero doloribus soluta veniam fugiat minus eligendi odio, magnam nobis incidunt, at repudiandae veritatis. Deleniti?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, dolorem veniam! Esse perferendis sequi qui placeat quasi exercitationem nulla recusandae ratione quo atque laudantium, officiis impedit totam culpa dignissimos numquam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quibusdam mollitia rem aliquid, atque repellendus harum officia tenetur ullam voluptates modi repellat in eveniet. Aliquid praesentium quas possimus eum accusamus.</p>
  </div>

  <%- include("./partials/footer.ejs") %>

</body>
</html>