<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body class="hidden">
  
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <h2>Create Blog</h2>
    <!-- sends post req to /blogs -->
    <form action="/blogs" method="POST">
      <label for="title">Title</label>
      <input name="title" type="text" id="title" required placeholder="Blog Title" maxlength="100">
      <label for="body">Content</label>
      <textarea name="body" id="body" required placeholder="Blog Body"></textarea>
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>

  <script src="/visible.js"></script>

</body>
</html>